<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>Proyecto arquitectura</title>
</head>

<body>
  <header>
    <h1>Proyecto Final Arquitectura</h1>
  </header>

  <div class="main-container">
    <div class="input-container">
      <mat-form-field class="input-field">
        <mat-label class="input-label">Ingresa el código en este espacio.</mat-label>
        <textarea matInput [(ngModel)]="addedInstructions"></textarea>
      </mat-form-field>

      <div class="status-container">
        <div class="system-message">{{error}}</div>
        <div class="system-status">
          <div class="program-counter">
            PC <br>
            {{PC+1}}
          </div>
          <div class="memory-address-register">
            MAR <br>
            {{MAR+1}}
          </div>
          <div class="general-purpose-registers"
            [ngClass]="{'active-processor-element': registerBankIsActive}">
            <div>
              Banco de registros <br>
              <div class="register-values">
                A: {{registerBank.A}} - B: {{registerBank.B}} <br>
                C: {{registerBank.C}} - D: {{registerBank.D}} <br>
                E: {{registerBank.E}} - F: {{registerBank.F}} <br>
                G: {{registerBank.G}} - H: {{registerBank.H}}
              </div>
            </div>
          </div>
          <div class="control-unit">
            Unidad de control
          </div>
          <div class="arithmetic-logic-unit">
            <div>
              <div>
                <span>{{ALU.operand1}} </span>  {{ALU.operation}}  <span> {{ALU.operand2}}</span>
              </div>
              ALU
            </div>
          </div>
          <div class="memory-buffer-register">
            MBR <br>
            {{MBR}}
          </div>
          <div class="instruction-register">
            IR <br>
            {{IR}}
          </div>
        </div>
      </div>

      <div class="buses-container">
        <div class="address-bus" [ngClass]="{'active-processor-element': addressBusIsActive}"></div>
        <div class="bus-name">Bus de direcciones</div>
        <div class="data-bus" [ngClass]="{'active-processor-element': dataBusIsActive}"></div>
        <div class="bus-name">Bus de datos</div>
        <div class="control-bus" [ngClass]="{'active-processor-element': controlBusIsActive}"></div>
        <div class="bus-name">Bus de control</div>
      </div>

      <mat-card class="memory-card">
        <mat-card-title class="memory-text">Memoria principal</mat-card-title>
        <mat-card-content>
          <div *ngFor="let instruccion of memory.positions; index as index">
            {{index+1}} - {{instruccion}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <footer class="footer-container">
      <button class="start-button" mat-raised-button color="accent" (click)="LoadAndRunInstructions()"
        [disabled]="!enableRunButton">
        <mat-icon>play_arrow</mat-icon>COMENZAR
      </button>
    </footer>
  </div>
</body>

</html>
