body {
  font-family: 'Arial', sans-serif;
  background-color: #a778cb;
  color: #ecf0f1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  overflow: hidden;
  border: solid 4px #e6e6fa;
}

header {
  background-color: #d388ff;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
  color: #030303;
  width: 100%;
  height: 20px;
}

.main-container {
  background-color: #a778cb;
  border: solid 2px #e6e6fa;
  height: auto;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-field {
  width: 20%;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.system-message {
  background-color: #d388ff;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 80%;
}

.system-status {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}

.program-counter,
.memory-address-register,
.general-purpose-registers,
.control-unit,
.arithmetic-logic-unit,
.memory-buffer-register,
.instruction-register {
  flex: 1;
  margin: 10px;
  padding: 20px;
  text-align: center;
  color: #ecf0f1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.general-purpose-registers {
  background-color: #d388ff;
}

.active-processor-element {
  border: 2px solid #f890e5;
  box-shadow: 0px 0px 11px 0px #f80bdc;
}

.buses-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 20%;
  margin: 40px;
  margin-top: 150px;
}

.address-bus,
.data-bus,
.control-bus {
  flex: 1;
  margin: 10px;
  padding: 20px;
  text-align: center;
  color: #ecf0f1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #e6e6fa;
}

.bus-name {
  color: #ecf0f1;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.footer-container {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.start-button {
  background-color: #e74c3c;
  color: #ecf0f1;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.memory-card {
  color: #030303;
}

.memory-text {
  font-size: 18px;
  padding: 10px;
}








