<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>Proyecto arquitectura</title>
</head>

<body>
  <header>
    <h1>Proyecto Final Arquitectura</h1>
  </header>

  <div class="container__body">
    <div class="container__body__principal">
      <mat-form-field class="container__body__principal__input">
        <mat-label>Ingresa el código en este espacio.</mat-label>
        <textarea matInput [(ngModel)]="addedInstructions"></textarea>
      </mat-form-field>

      <div class="container__body__principal__center">
        <div class="system_word">{{error}}</div>
        <div class="container__body__principal__center__down">
          <div class="PC">
            PC <br>
            {{PC+1}}
          </div>
          <div class="MAR">
            MAR <br>
            {{MAR+1}}
          </div>
          <div class="container__body__principal__center__AG"
            [ngClass]="{'elemento__procesador__activo': almacenGeneralEstaActivo}">
            <div>
              Banco de registros <br>
              <div class="text_bank_registers">
                A: {{registerBanck.A}} - B: {{registerBanck.B}} <br>
                C: {{registerBanck.C}} - D: {{registerBanck.D}} <br>
                E: {{registerBanck.E}} - F: {{registerBanck.F}} <br>
                G: {{registerBanck.G}} - H: {{registerBanck.H}}
              </div>
            </div>
          </div>
          <div class="container__body__principal__center__UC">
            Unidad de control
          </div>
          <div class="container__body__principal__center__ALU">
            <div>
              <div>
                <span>{{ALU.operand1}} </span>  {{ALU.operation}}  <span> {{ALU.operand2}}</span>
              </div>
              ALU
            </div>
          </div>
          <div class="container__body__principal__center__MBR">
            MBR <br>
            {{MBR}}
          </div>
          <div class="container__body__principal__center__IR">
            IR <br>
            {{IR}}
          </div>
        </div>
      </div>

      <div class="container__body__principal__buses">
        <div class="buses__container">
          <div class="directions" [ngClass]="{'elemento__procesador__activo': busDireccionesEstaActivo}"></div>
          <div class="bus_name">Bus de direcciones</div>
        </div>
        <div>
          <div class="data" [ngClass]="{'elemento__procesador__activo': busDatosEstaActivo}"></div>
          <div class="bus_name">Bus de datos</div>
        </div>
        <div>
          <div class="control" [ngClass]="{'elemento__procesador__activo': busControlEstaActivo}"></div>
          <div class="bus_name">Bus de control</div>
        </div>
      </div>

      <mat-card class="container__body__principal__card">
        <mat-card-title class="text_memory">Memoria principal</mat-card-title>
        <mat-card-content>
          <div *ngFor="let instruccion of memory.positions; index as index">
            {{index+1}} - {{instruccion}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <footer class="footer_button">
      <button class="header__button" mat-raised-button color="accent" (click)="LoadAndRunInstructions()"
        [disabled]="!habilitarBtnEjecutar">
        <mat-icon>play_arrow</mat-icon>COMENZAR
      </button>
    </footer>
  </div>
</body>

</html>